@inject NavigationManager NavManager
@if (Inventory != null)
{
    <tr>
        <td>
            @Inventory.InventoryName
        </td>
        <td>
            @Inventory.Quantity
        </td>
        <td>
            @Inventory.Price.ToString("c")
        </td>
        <td>
            <button type="button" class="btn btn-light" @onclick="(()=>EditInventory(Inventory.InventoryId))"><span class="oi oi-pencil" aria-hidden="true"></span> Edit</button>
            <button type="button" class="btn btn-light" @onclick="(()=>DeleteInventory(Inventory.InventoryId))"><span class="oi oi-trash" aria-hidden="true"></span>  Delete</button>
        </td>
    </tr>
}
@code {
    [Parameter]
    public Inventory? Inventory { get; set; }

   private void EditInventory(int invId)
    {
        NavManager.NavigateTo($"/editinventory/{invId}");
    }

    private void DeleteInventory(int invId)
    {
        NavManager.NavigateTo($"/editinventory/{invId}");
    }

}
